{% load static %}

{% block headerinclude %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'melody/css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'melody/css/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'melody/css/main.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'melody/css/bootstrap.min.css' %}"> -->
        <!-- Material Design Bootstrap -->
        <!-- <link rel="stylesheet"  href="{% static 'melody/css/mdib.css' %}">
        <link rel="stylesheet"  href="{% static 'melody/css/modules/animations-extended.min.css' %}"> --> 
{% endblock headerinclude %}
    <!-- registration form -->
    <div class="container-fluid bg">
      <!-- header -->
        <div class="header row">
          <div class="col"><h2 class="head">Melody</h2></div>
          <div class="col" style="margin-left: 55%"><a href="#aboutusModal" class="a-design">About Us</a> | <a href="#contactusModal" class="a-design">Contact Us</a></div>  
        </div>
      <!-- end of header -->
      <div class="row indexBox shadow">
          <!-- left side of the landing page -->
          <div class="col-md-4 left register-form">
              <h2 class="title">Log In</h2>
              <form class="padding" id="form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div> -->
                  <button type="submit" class="btn btn-primary">Log in</button>
                </form>
                <p class="text-style">No account yet? Click here to <a href="customerRegistration.html" style="color: blue; font-size: 16px;">Register</a></p>
          </div>
          <!-- end of the left side of the landing page -->

          <!-- right side of the landing page -->
          <div class="col-md-8">
              <img src="{% static 'melody/img/frontImg.png'%}" class="landing-img">
          </div>
          <!-- end of the right side of the landing page -->
      </div>
    </div>
    <!-- end of registration form -->

    <!-- modal for About Us -->
    <!-- end of modal for About Us -->

    <!-- modal for Contact Us -->
    <!-- end of modal for Contact Us -->

{% block footerinclude %}
{% endblock footerinclude %}