{% load static %}
{% block headerinclude %}
    <title>Melody</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- customize css -->
    <link rel="stylesheet" type="text/css" href="{%static 'melody/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'melody/css/form.css'%}">
    <style>
        a,a:active,a:focus, a:hover{ text-decoration: none; color: white; }
        .btn-secondary{text-transform: uppercase; font-size: 20px; margin-right: 4%; margin-left: 27%;}
        .register-img{ width: 200px; margin-top: 35%;}
    </style>
{% endblock headerinclude %}

        <!-- registration form -->
        <form name="musicForm" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container register">
                <div class="row">
                    <!-- left side of the registration form -->
                    <div class="col-md-3 register-left">
                        <img src="{%static 'melody/img/pic1.png'%}" class="register-img">
                        <p></p>
                        <p>Click here to <a href="dashboard">Dashboard</a></p>
                    </div>
                    <!-- end of the left side of the registration form -->

                    <!-- right side of the registration form -->
                    <div class="col-md-9 register-right">
                        <h3 class="register-heading">Song Registration</h3>
                        <!-- container -->
                        <div class="row register-form">
                            <!-- left side of the form -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Song Title:</label>
                                    <input name ="songtitle" type="text" class="form-control" placeholder="Song Title">
                                </div>
                                <div class="form-group">
                                    <label>Genre(s):</label>
                                    <input name ="genre" type="text" class="form-control"  placeholder="Genre">
                                </div>
                                <div class="form-group">
                                    <label>Song Writer(s):</label>
                                    <textarea name ="songwriter" class="form-control" rows="2" placeholder="Song Writer(s)"></textarea>
                                </div>
                            </div>
                            <!-- left side of the form, ends here -->

                            <!-- right side of the form -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Artist(s):</label>
                                    <input name ="artist" type="text" class="form-control" placeholder="Artist(s)">
                                </div>
                                <div class="form-group">
                                    <label>Date Release:</label>
                                    <input name ="dateRelease" type="date" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Producer(s):</label>
                                    <textarea name ="producer" class="form-control" rows="2" placeholder="Producer(s)"></textarea>
                                </div>    
                            </div>
                            <!-- right side of the form, ends here -->
                            <a type="button" class="btn btn-secondary" style="margin-top: 2%;">Cancel</a>
                            <button type="submit" class="btn buttonAdd" style="margin-top: 2%;">Register</button>
                        </div>
                        <!-- end of container -->
                    </div>
                    <!-- right side of the registration form -->
                </div>
            </div>
        </form>
        <!-- end of registration form -->

{% block footerinclude %}
<!-- <script type="text/javascript" src="{% static 'melody/js/validateMusic.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'melody/js/dateRegister.js' %}"></script> -->
{% endblock footerinclude %}