thead{
    background-color:#b870ff;
    color: white;
    text-transform: uppercase;
}

table{
    /* margin-top: 10px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
}

.pos{
    position: relative;
    left: 300px;
}

h3.posi{
    margin-left: 15px;
    margin-top: 10px;
}